*{margin:0; padding:0;}
ul{list-style:none;}

a{text-decoration: none;}

body {font-size:200%; background-color: #797979;}

.index:visited{color: #87CEEB}
.index:hover{color: black}
.index{padding-left: 12.5%;padding-top: 10px}

.menu {font-size: 1.3em;background-color:#6495ED;
	width: 75%;margin: 20px auto;overflow: hidden;
}

.menu li {float: left;width: 25%;}

.menu a {display: block;text-align: center;color: white;}

.menu a:hover{background-color:#0000C6}

.content{width: 75%;margin: 0 auto;}

.home{text-align: justify;width: 90%;
	margin: 60px auto; font-size: 1.1em}

.Wellcome {font-size: 50px;margin-top: 20px;margin-bottom: 20px;}

.sibcb {display: block;padding-left: 12.5%;padding-top: 80px}



